{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>@ your service</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style/upstyle.css' %}">
</head>
<body id="body">
<div >
<div id="titleb">
	<h1 id="name" >at your service</h1>
	<h3 id="caption"> everyone</h3>
<table id="table">
  	<tr >
    	<td id="one"><a id="l1" href="">about</a></th>
    	<td id="two"><a id="l2" href="">explore</a> </th> 
    	<td id="thre"><a id="l3" href="">contact</th>
  	</tr>
 </table>
	</div>

	<div id="fblock">
	
	{% for p in posts %}
		{{p.Name}}
		<br>
		{{p.Aadhar}}
	<br><br>		
	{%endfor%}
	</div>

	
	<div id="sblock">
		<p id="stext">nothing
		</p>
	</div>
	</div>

</body>
</html>