
<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Enter symptoms Form</title></head>
<body>

 
 <form action="#" method="post">
    <div class="form-group">
		<div class="form-group">
   			Fever? <input type="checkbox" name="1"> <br>
			Headache?<input type="checkbox" name="2"> <br>
			LOA?<input type="checkbox" name="3"> <br>
	<!--		Headache? <input type="checkbox" name="headache"> -->
    </div>
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>
