<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<ul class="navbar navbar-inverse">
<ul class="nav nav-pills">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
      Student <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
          <li><a href="/add-disease">Add symptom</a></li>
          <li><a href="/view">View Student</a></li>
		  
    </ul>
  </li>
  <li role="presentation"><a href="#">Attendance</a></li>
</ul></ul>