<% include header %>
<form action="#" method="post">
<div class="form-group">
    <label class="control-label">Name</label>
    <input class="form-control" type="text" name="symptomName"/> 
</div>
<button type="submit">Submit</button>
</form>
<% include footer %>