
<html>
<head><link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Form</title></head>
<body>

 
 <form action="/view" method="post">
    <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" name="className"/> 
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>
