<ion-view title="Contact" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <div class="list card">

  <a href="#" class="item item-icon-left" ng-repeat="item in contacts">

    <div class="item item-avatar">
    <img src="avatar.png">
    <h2>{{item.name}}</h2>
    
    <br>
    {{item.num}}
    </div>
  </a>
  </div>
  </ion-content>
</ion-view>