<ion-view view-title="REMAINDER">
  <ion-content>
    <h1>REMINDER</h1>
    <ion-list>

  <ion-checkbox ng-model="filter.red">appoinment at 3:30 at mmm hospital</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">appoinment at 5 with jj thomson on 5-5-17</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">new appoinment</ion-checkbox>

</ion-list>
<a class="button button-icon icon ion-plus" href="#/app/browse/{{modal.id}}">  Add</a>


     

    
              
     
  

  </ion-content>
</ion-view>
