<% include header %>

    <br>
    <form method="post" action="/store/add">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="class">Location</label>
            <input type="text" class="form-control" name="location">
        </div>
        <input type="submit" class="btn btn-default">
    </form>

<% include footer %>